<!DOCTYPE html>
<html lang="en">
<head>
  <title>BS Card Game</title>
  <link rel="stylesheet" href="/styles.css" />
  <%- include('shared/head') %>
  <script src="/js/games/index.js" defer></script>
</head>

<body>
  <%- include('shared/menu', { user }) %>

  <main>
    <div id="game-chat-wrapper">
      <!-- Game area -->
      <div id="game-container" class="<%= started ? 'started' : '' %>">
        <div id="game-waiting-overlay">
          <% if (isHost && !started) { %>
            <div id="host-waiting-overlay">
              <button id="start-game-button" class="shown">Start Game</button>
              <p>Players in Game: <%= playerCount - 1 %> </p>
            </div> 
          <% } else if (!started) { %>
            
            <p><strong>Waiting for host...</strong> Players in Game: <%= playerCount - 1 %></p>
          <% } %>
        </div>

        <!-- Game screen will be dynamically updated via JS -->
        <div id="play-area"></div>
      </div>

      <!-- Chat container -->
      <section id="chat-container">
        <div id="messages"></div>
        <form>
          <input type="text" name="message" id="message-input" />
          <button type="submit" id="send-button">Send</button>
        </form>
      </section>
    </div>

    <!-- Hidden Game Metadata -->
    <input type="hidden" name="game-id" id="game-id" value="<%= gameId %>" />
  </main>

  <!-- Templates -->
  <template id="faceDown-card-template">
    <div class="card back">?</div>
  </template>

  <template id="face-card-template">
    <div class="card">
      <div class="card-label"></div>
      <div class="card-suit"></div>
    </div>
  </template>

  <template id="number-card-template">
    <div class="card">
      <div class="card-number"></div>
      <div class="card-suit"></div>
    </div>
  </template>

  <template id="card-template">
    <div class="card" data-card-id="">
      <span class="card-value"></span>
      <span class="card-suit"></span>
    </div>
  </template>

  <template id="player-template">
    <div class="player">
      <div class="player-name"></div>
      <div class="hand"></div>
      <div class="middle-pile-btn">Place Card</div>
    </div>
  </template>

  <template id="opponent-template">
    <div class="player">
      <div class="hand"></div>
      <div class="hand-count"></div>
    </div>
  </template>

  <script>
    window.USER_ID = "<%= user.id %>";
  </script>
</body>
</html>
