<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BS Card Game</title>
    <link rel="stylesheet" href="/styles.css" />
    <%- include('shared/head') %>
    <script src="/js/games/index.js" defer></script>
  </head>

  <body>
    <%- include('shared/menu', { user }) %>

    <main>
      <div id="game-chat-wrapper">
        <!-- Game area -->
        <div id="game-container" class="<%= started ? 'started' : '' %>">
          <div id="game-waiting-overlay">
            <% if (isHost && !started) { %>
              <button id="start-game-button" class="shown">Start Game</button>
            <% } else if (!started) { %>
              <strong>Waiting for host...</strong>
              <p>Players in Game: <%= playerCount %></p>
            <% } %>
          </div>

          <!-- Game screen dynamically populated via JS -->
        </div>

        <!-- Chat container -->
        <section id="chat-container">
          <div id="messages"></div>
          <form>
            <input type="text" name="message" id="message-input" />
            <button type="submit" id="send-button">Send</button>
          </form>
        </section>
      </div>

      <input type="hidden" name="game-id" id="game-id" value="<%= gameId %>" />

      <!-- Card + Player templates -->
      <template id="faceDown-card-template">
        <div class="card back">?</div>
      </template>

      <template id="card-template">
        <div class="card" data-card-id="">
          <span class="card-value"></span>
          <span class="card-suit"></span>
        </div>
      </template>

      <template id="player-template">
        <div class="player">
          <div class="player-name"></div>
          <div class="hand"></div>
          <div class="middle-pile-btn">Place Card</div>
        </div>
      </template>

      <template id="opponent-template">
        <div class="player">
          <div class="hand"></div>
          <div class="hand-count"></div>
        </div>
      </template>
    </main>
  </body>
</html>
