<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BS | Lobby</title>
    <link rel="stylesheet" href="/styles.css" />
    <%- include('shared/head') %>
    <script src="/js/lobby/index.js" defer></script>
  </head>
  <body>
    <%- include('shared/menu', { user }) %>

    <main>
      <div class="container">
        <h1>Welcome <%= user.userName %></h1>
       
        <ul style="text-align: left;">
          <li><strong>ID:</strong> <%= user.id %></li>
          <li><strong>Email:</strong> <%= user.email %></li>
          <!--<li><strong>Gravatar Hash:</strong> <%= user.gravatar %></li>-->
        </ul>
      

        
      </div>
      <div id="content" data-user-id="<%= user.id %>">
        <div id="game-column">
          <div id="create-game-btn-container" style="text-align: center; margin-bottom: 1rem;">
            <button id="create-game-button">Create Game</button>
          </div>

          <section id="game-listing">
            <h2>Your Games (<%= currentGames.length %>)</h2>
            <ul>
              <% currentGames.forEach(game => { %>
                <li>
                  Game <%= game.id %> hosted by <%= game.host_id === user.id ? "You" : game.host_name %> 
                  (<%= game.player_count %> players)
                  <button id="return-btn" onclick="location.href='/games/<%= game.id %>'">Return</button>
                </li>
              <% }) %>
            </ul>

            <h2>Joinable Games (<%= availableGames.length %>)</h2>
            <ul>
              <% availableGames.forEach(game => { %>
                <li>
                  Game <%= game.id %> hosted by <%= game.host_id === user.id ? "You" : game.host_name %> 
                  (<%= game.player_count %> players)
                  <form method="POST" action="/games/join/<%= game.id %>" style="display:inline;">
                    <button type="submit">Join</button>
                  </form>
                </li>
              <% }) %>
            </ul>
          </section>
        </div>

        <section id="chat-container">
          <div id="messages"></div>
          <form>
            <input type="text" name="message" id="message-input">
            <button type="submit" id="send-button">Send</button>
          </form>
        </section>
      </div>

      <input type="hidden" id="game-id" value="0">
      
    </main>
    <%- include("games/create-form") %>
  </body>
</html>
