<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BS | Lobby</title>
  </head>
  <body>
    <%- include('shared/menu') %>
    
    <h1>Welcome <%= user.userName %></h1> <!-- use userName, not email -->

    <ul>
      <li>id: <%= user.id %></li>
      <li>email: <%= user.email %></li> <!-- optional -->
      <li>gravatar: <%= user.gravatar %></li>
    </ul>

    <img src="https://www.gravatar.com/avatar/<%= user.gravatar %>" alt="Gravatar" width="100" />
  </body>
</html>
